# NO LONGER IN USE AS NGINX IS USED NOW

RewriteEngine on
AddDefaultCharset UTF-8

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^bitraf.no$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^wiki/(.*)$ /mediawiki/index.php?title=$1 [L,QSA]

# Moved links
RewriteRule ^arrangementer$ http://www.meetup.com/bitraf/ [R]
RewriteRule ^kontorplasser$ /wiki/Kontorplasser [R]
RewriteRule ^kontorplass/$ /wiki/Kontorplasser [R]
RewriteRule ^foreningen$ /wiki/Foreningen [R]
RewriteRule ^foreningen/vedtekter$ /wiki/Foreningen [R]
RewriteRule ^foreningen/generalforsamling$ /wiki/Foreningen [R]
RewriteRule ^generalforsamling$ /wiki/Foreningen [R]
RewriteRule ^bedriftspartner$ /wiki/Bedriftsmedlemskap [R]
RewriteRule ^sponsorer$ /wiki/Sponsorer [R]
RewriteRule ^build-night$ /wiki/Byggekveld [R]
RewriteRule ^prosjekter$ /wiki/Prosjekter [R]
RewriteRule ^foreningen/styrevedtak$ /styrevedtak/ [R]
RewriteRule ^wiki$ /wiki/ [R]
RewriteRule ^wp-content/uploads/..../../(.*)\.jpg$ /photos/$1.JPG [R]

RewriteRule ^referat-fra-konstituerende-generalforsamling$ /referat-fra-konstituerende-generalforsamling.php [L]
RewriteRule ^styrevedtak/styrevedtak-([0-9]+)$ /styrevedtak/styrevedtak-$1.html [L]
RewriteRule ^galleri$ /galleri.php [L]
RewriteRule ^wp-content/uploads/2012/03/highres_101293802.jpeg$ /spill.jpg [L]

RewriteRule ^photos/([A-Za-z0-9.-]+)$ /image.php?name=$1 [L]

Redirect 301 /referat-fra-konstituerende-generalforsamling.php /dokument/referat-fra-konstituerende-generalforsamling.php
Redirect 301 /opprit-byteraffineriet-skiping.htm /dokument/opprit-byteraffineriet-skiping.htm
